body {
    background-color: white;
}

.logo {
    max-width: 100px;
    padding: 5px;
}

.logInButton {
    float: right;
    margin: 5px;
}

.upload-video-div {
    float: right;
}

.video-title {
    font-size: 18px;
}

.number-of-views {
    padding-top: 15px;
}

.recommended-videos {
    background-color: red;
    width: 30%;
    float: right;
}

.videoInfo{
    max-width: 75%;
}