/* GENERAL RULES */

body {
    background-color: #F9F9F9;
    font-family: Roboto;
}

.container {
    padding-top: 30px;
    max-width: 75%;
    padding-left: 5%;
}

nav {
    background-color: white;
    padding: 10px 0px 10px 0px;
}

/* Navigation Bar */

.logo {
    max-width: 100px;
    padding: 0px;
    vertical-align: middle;
}

.login-button {
    float: right;
    margin-bottom: 10px;
    color: #065FD4;
    border: 1px;
    border-style: solid;
    border-color: #065FD4;
    border-radius: 5%;
    background-color: #F9F9F9;
}

.fa-bars {
    padding: 0px 10px 0px 10px;
}

.search-input {
    margin-left: 25%;
    padding-left: 15%;
    margin-right: -5px;
}

/* Video */

.upload-video-div {
    float: right;
}

.upload-video-div i{
    padding-right: 10px;    
}

.video-title {
    border-bottom: 1px solid #dbdbdb;
    padding-top: 15px;
    font-size: 24px;
    display: block;
}

.number-of-views {
    padding-top: 15px;
    color: #636363;
    font-size: 17px;
    display: inline-block
}

.like-and-dislike-section {
    display: inline-block;
    padding-left: 550px;
    color: #636363;
}
/* Video info and description */

.subscribe-button {
    float: right;
}

.video-info {
    padding-top: 10p;
}

.user-info {
    margin-right: 10px;
}

.subscribe-button {
    background-color: #CC353D;
    color: white;
    padding: 10px 16px;
    border-radius: 2px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
}


/* Comments */

.comments-count {
    margin-right: 10px;
}

.user-pic {
    border-radius: 50%;
    float: left;
    height: 50px;
    width: 50px;
    padding-right: 20px;
}

.circle-icon {
    border-radius: 50%;
    max-width: 51px;
    max-height: 50px;
    padding-right: 10px;
}

.comment-features {
    padding-top: 10px;
}

.comment-title {
    line-height: 1.7;
    font-weight: bold;
}

.comment-description {
    padding-left: 65px;
}
.like-and-dislike-section-comments {
    display: inline-block;
    padding-left: 65px;
    color: #636363;
}

.view-replies {
    color:#0D0D0D;
    font-family: Roboto;
    font-weight: bold;
    padding-left: 65px;
}

.reply-button {
    color: #636363;
    font-family: Roboto;
    font-weight: bold;
    font-size: 13px;
    padding-left: 15px;

}

/* Recommended videos */

.recommended-videos {
    width: 30%;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
}

.recommended-video-thumbnail {
    height: 100px;
    width: 150px;
    float: left;
    padding-right: 5px;
}

.recommended-video-info {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.up-next-autoplay {
    margin-bottom: 10px;
}