body {
    background-color: white;
}

.logo {
    max-width: 100px;
    padding: 5px;
}

.login-button {
    float: right;
    margin: 5px;
}

.upload-video-div {
    float: right;
}

.video-title {
    
    font-size: 18px;
    border-bottom: 1px solid #dbdbdb;
    
}

.number-of-views {
    padding-top: 15px;
}

.recommended-videos {
    background-color: red;
    width: 30%;
    float: right;
}

.video-info {
}

.user-info {
    float:right

}

.container {
    max-width: 75%;
}

.user-pic {
    border-radius: 100%;
    float: left;
    height: 50px;
}